 {% extends "./Frontal/layout.html" %} {% block head %}
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>


{% endblock %} {% block content %}

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <div class="mt-4 abs-center">
                    <h1 class="form-group">Toma de datos del dispositivo: {{id}} </h1>
                    <div class="mt-4 row fh5co_footer_bg pt-3 pb-3">
                        <h6 class="col-md-7 form-group abs-center">El glaciar Exploradores se encuentra ubicado en el límite Norte del Campo de Hielo Patagónico Norte, a los pies de la montaña más alta de la Patagonia: el Monte San Valentín. Este es un glaciar de valle, que posee una superficie
                            aproximada de 83 Km cuadrados, equivalente al tamaño de 12 estadios de fútbol, y que pierde masa a razón de 10 cm de espesor cada día de verano aproximadamente. El monitoreo de sus cambios de masa tiene un alto valor para la
                            ciencia, pero también para toda la sociedad.</h6>
                        <img class="img-fluid col-md-5" src="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/ultima.jpg')}}" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row fh5co_footer_bg mx-0 pt-3 pb-3">
            <div class="col-md-6 animate-box abs-center" data-animate-effect="fadeInLeft">
                <video class="img-fluid col-md-12" src="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/video.mp4')}}" controls></video>
            </div>

            <div class="col-md-6 form-group abs-center">
                <h6>Video de las ultimas fotos tomadas</h6>
                <h6>Ultimo actualización: ---</h6>
            </div>

        </div>
        <div class="row mx-0 mt-4">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <h2 class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Identificador: Nodo {{id}}</h2>
                </div>
            </div>
        </div>

        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div class=" py-1 mb-4">
                    <h4 class=" py-1 mb-2">Distancia entre el nodo y el río (sensor ultrasonido)</h4>
                    <a class=" py-1 mb-4" href="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/ultrasonido.csv')}}" download="Datos">Descargar datos (csv)</a>
                </div>
                <div>
                    {{graficos.ultrasonido.distancia[1]| safe}}
                </div>
            </div>
        </div>

        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <h4 class=" py-1 mb-2">Temperatura, presion, humedad del ambiente (Bmp280)</h4>
                    <a class=" py-1 mb-4" href="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/bmp280.csv')}}" download="Datos">Descargar datos (csv)</a>
                </div>
            </div>
        </div>

        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    {{graficos.bmp280.temperatura[1]| safe}}
                </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    {{graficos.bmp280.presion[1]| safe}}
                </div>
            </div>
        </div>

        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    {{graficos.bmp280.humedad[1]| safe}}
                </div>
            </div>
        </div>

        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class=" py-1 mb-4">
                        <h5 class=" py-1 mb-2">Presión neto del río (ms5803)</h5>
                    </div>
                    {{graficos.bmp280.presionNeta[1]| safe}}
                </div>
            </div>
        </div>


        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div class=" py-1 mb-4">
                    <h4 class=" py-1 mb-2">Temperatura de la tierra (ds18b20)</h4>
                    <a class=" py-1 mb-4" href="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/ds18b20.csv')}}" download="Datos">Descargar datos (csv)</a>
                </div>
            </div>
        </div>

        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    {{graficos.ds18b20.temperatura[1]| safe}}
                </div>
            </div>
        </div>


        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <div class=" py-1 mb-4">
                    <h4 class=" py-1 mb-2">Temperatura, presión del río (ms5803)</h4>
                    <a class=" py-1 mb-4" href="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/ms5803.csv')}}" download="Datos">Descargar datos (csv)</a>
                </div>
            </div>
        </div>

        <div class="row abs-center mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    {{graficos.ms5803.temperatura[1]| safe}}
                </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    {{graficos.ms5803.presion[1]| safe}}
                </div>
            </div>
        </div>


        <div class="row abs-center  mx-0 pt-2">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div class=" py-1 mb-4">
                    <h4 class=" py-1 mb-2">Precipitación (tipping)</h4>
                    <a class=" py-1 mb-4" href="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/tipping.csv')}}" download="Datos">Descargar datos (csv)</a>
                </div>
            </div>
        </div>

        <div class="row abs-center  mx-0 mt-4">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    {{graficos.tipping.precipitacion[1]| safe}}
                </div>
            </div>
        </div>

        <!--div class="row mx-0 mt-4 fh5co_footer_bg pt-3">
            <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
                <h5 class="form-group">En los últimos 7 días, el glaciar Exploradores ha perdido en total acumulada aa cm de espesor.</h5>
            </div>
            <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft">
                <h5 class="form-group">Cantidad de mediciones aa</h5>
            </div>
        </div>
        <div class="row  mx-0 mt-3 mb-3">
            <div class=" col-md-7 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4 form-group">Nacionalidad de observadores</div>
                    otro grafico
                </div>
            </div>
        </div-->
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{{graficos.bmp280.presionNeta[0]| safe}} {{graficos.tipping.precipitacion[0]| safe}} {{graficos.ms5803.temperatura[0]| safe}} {{graficos.ms5803.presion[0]| safe}} {{graficos.ds18b20.temperatura[0]| safe}} {{graficos.bmp280.temperatura[0]| safe}} {{graficos.bmp280.presion[0]|
safe}} {{graficos.bmp280.humedad[0]| safe}} {{graficos.ultrasonido.distancia[0] | safe}} {% endblock %}