{% extends "layout_user.html" %} {% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
<link href="{{ url_for('static', filename='css/map.css')}}" rel="stylesheet" type="text/css" /> {% endblock %} {% block content %}

<header class="masthead">
    <div class="row mt-4">
        <div class="col-md-6">
            <h1> El identificador a ingresar es: {{nodo.id}} a la zona de configuración </h1>

            <h3> Nombre: {{nodo.nombre}} </h3>
            <p> {{nodo.descripcion}} </p>

            <h5>Ahora tendrá que ingresar el identificador en el archivo "config.json", que está dentro de la raspberry pi.</h5>


            <!-- Esta sección es para actualizar o crear el archivo json del config-->

            <form action="/nodo/modoeditor/{{id}}" enctype="multipart/form-data" method="POST" id="contactForm" style="padding-top: -3vmin" novalidate>
                <div class="container">
                    <div class="control-group">

                        <h3> Actualizar frecuencias por minuto de cada instrumento</h3>
                        <div class="form-group floating-label-form-group controls">
                            Ultrasonido: <input type="text" value="{{config.instrumentos.ultrasonido.frecuencia}}" name="ultrasonido" /><br/><br/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            Camara:<input type="text" value="{{config.instrumentos.camara.frecuencia}}" name="camara" /> <br/><br/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            Ms5803: <input type="text" value="{{config.instrumentos.ms5803.frecuencia}}" name="ms5803" /> <br/><br/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            Ds18b20: <input type="text" value="{{config.instrumentos.ds18b20.frecuencia}}" name="ds18b20" /><br/><br/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            Bmp280: <input type="text" value="{{config.instrumentos.bmp280.frecuencia}}" name="bmp280" /> <br/><br/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            Tipping (Precipitación): <input type="text" value="{{config.instrumentos.tipping.frecuencia}}" name="tipping" /> <br/><br/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            Antes de descargar, el archivo "config.json" debe guardar la configuación.
                            <p class="help-block text-danger"></p>
                        </div>
                        <br>
                    </div>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Guardar</button>
                        <a type="submit" class="btn btn-secondary" href="{{ url_for('static', filename='monitoreoDinamico/'+ id +'/config.json')}}" download="Datos">Descargar config.json</a>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-md-6 px-3">
            <div id='map'>
                <!-- el mapa -->
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <a role="button" class="btn btn-info" href="/nodo/editar/{{nodo.id}}">Editar</a> <a role="button" class="btn btn-danger" href="/deletePost/Nodo/{{nodo.id}}">Eliminar</a></td>
        </div>
    </div>
</header>


<script>
    mapboxgl.accessToken = "pk.eyJ1Ijoic2ViYXN0aWFuZHVyYW52IiwiYSI6ImNrc3NjamoxNzBpcGcybmpzYnpzNmJkc2cifQ.RmdHKIqJm4SqauLFIBN2CQ";



    var lat = '{{lat}}';
    var lon = '{{lon}}';

    const map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/satellite-v9",
        center: [lon, lat],
        zoom: 15,
    });





    let element = document.createElement("h2");
    var t = document.createTextNode("Valdivia"); // Create a text node
    element.appendChild(t);
    element.style["-webkit-text-stroke"] = "0.5px white";

    const title = document.getElementById("title");

    let marker = new mapboxgl.Marker(element)
        .setLngLat({
            lng: -73.234348,
            lat: -39.820650,
        })
        .addTo(map);


    const geojson = {
        type: "FeatureCollection",
        features: [

        ],
    };

    geojson.features.push({
            type: "Feature",
            geometry: {
                type: "Point",
                coordinates: [lon, lat],
            },
            properties: {
                title: "{{nombre}}",
                description: "",
            },
        }

    )


    // add markers to map
    for (const {
            geometry,
            properties
        }
        of geojson.features) {
        // create a HTML element for each feature
        const el = document.createElement("div");
        el.className = "marker";

        // make a marker for each feature and add it to the map
        new mapboxgl.Marker(el)
            .setLngLat(geometry.coordinates)
            .setPopup(
                new mapboxgl.Popup({
                    offset: 25
                }) // add popups
                .setHTML(`<h2 style="color:black">${properties.title}</h2><p>${properties.description}</p><a class="btn btn-secundary" href='/nodo/{{id}}'> aquí </a>`)
            )
            .addTo(map);
    }
</script>

{% endblock %}