.titulo {
    position:absolute;
}

body {
    margin: 0;
    padding: 0;
    }

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
    position: relative;
    }

#title{
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    padding: 10px;
}

.marker {
    background-image: url('https://res.cloudinary.com/dzy8ftl8m/image/upload/v1630945492/samples/marcadores%20mapas/baliza_mjbypk.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
.mapboxgl-popup {
    max-width: 200px;
    }
.mapboxgl-popup-content {
   text-align: center;
    
    }
    
.baliza{
        background-image: url('https://res.cloudinary.com/dzy8ftl8m/image/upload/v1630945492/samples/marcadores%20mapas/baliza_mjbypk.svg');
        background-size: cover;
        width: 50px;
        height: 50px;
        cursor: pointer;
      border-radius: 50%;
    }
    
.cambio{
        background-image: url('https://res.cloudinary.com/dzy8ftl8m/image/upload/v1630945493/samples/marcadores%20mapas/cambio_az01x8.svg');
        background-size: cover;
        width: 50px;
        height: 50px;
        cursor: pointer;
      border-radius: 50%;
    }



    .map-overlay {

        position: absolute;
        width: 30%;
        top: 90px;
        left: 0;
        padding: 10px;
        }
         
        @media (max-width: 850px) {

            .map-overlay {
                width: 44%;
                top:90 px;
            }

            .map-overlay h1{
                font-size: 1.2rem;
            }
            .map-overlay h6{
                font-size: 0.8rem;
            }
          }

        .map-overlay .map-overlay-inner {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px;
        }
         
        .map-overlay-inner fieldset {
        border: none;
        padding: 0;
        margin: 0 0 10px;
        }
         
        .map-overlay-inner fieldset:last-child {
        margin: 0;
        }
         