
    {% extends "Frontal/layout.html" %}
    {% block head %}
          <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js" integrity="sha384-kLr4fYcqcSpbuI95brIH3vnnYCquzzSxHPU6XGQCIkQRGJwhg0StNbj1eegrHs12" crossorigin="anonymous"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>
     
    {% endblock %}

    {% block content %}
    
    <div class="container-fluid pb-4 pt-4 paddding">
      <div class="container paddding">
        <div class="row mx-0">
          <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
              <div  class="mt-4 abs-center" >
                  {% if nameType == "baliza"%}
                  <h1 class="form-group">PROYECTO DE MONITOREO COMUNITARIO DEL GLACIAR EXPLORADORES – BALIZAS </h1>
                  <div class="mt-4 row fh5co_footer_bg pt-3 pb-3">
                    <h6 class="col-md-7 form-group abs-center">El glaciar Exploradores se encuentra ubicado en el límite Norte del Campo de Hielo Patagónico Norte, a los pies de la montaña más alta de la Patagonia: el Monte San Valentín. Este es un glaciar de valle, que posee una superficie aproximada de 83 Km cuadrados, equivalente al tamaño de 12 estadios de fútbol, y que pierde masa a razón de 10 cm de espesor cada día de verano aproximadamente. El monitoreo de sus cambios de masa tiene un alto valor para la ciencia, pero también para toda la sociedad.</h6>
                    <img class="img-fluid col-md-5" src="{{ url_for('static', filename='assets/img/caminata1.jpg')}}" alt="" />
                  </div>
                  {% else %}
                  <h1  class="form-group" >PROYECTO DE MONITOREO COMUNITARIO DEL GLACIAR EXPLORADORES – CAMBIOS</h1>
                  <div class="mt-4 row fh5co_footer_bg pt-3 pb-3"> 
                    <h6 class="col-md-8 form-group abs-left">El Cambio Climático no sólo implica una gran pérdida de masa para glaciar Exploradores, sino también una serie de cambios morfológicos, como la formación de lagunas o el aumento del recubrimiento de material rocoso del hielo glaciar, entre otros. Estos cambios pueden ser monitoreados con la valiosa colaboración de todas las personas que visitan este lugar.</h6>
                    <img class="img-fluid col-md-4" src="{{ url_for('static', filename='assets/img/caminata2.jpg')}}" alt="" />
                  </div>
                  {% endif %}
              </div>
          </div>
      </div>
          <div class="row mx-0 mt-4">
              <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                  <div>
                      <h2 class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Identificador: {{information.punto}} </h2>
                  </div>
              </div>
          </div>

          <div class="row abs-center mx-0 mt-4">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
              <div>
                {% if nameType == "baliza"%}
                {{information.div1 | safe}}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row mx-0 mt-4 fh5co_footer_bg pt-3">
            <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
                <h5 class="form-group">En los últimos 7 días, el glaciar Exploradores ha perdido en total acumulada {{information.perdido}} cm de espesor.</h5>
            </div>
            <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft">
                <h5 class="form-group">Cantidad de mediciones {{information.num_mediciones}}</h5>
            </div>
          </div>
          <div class="row  mx-0 mt-3 mb-3">
            <div class=" col-md-7 animate-box" data-animate-effect="fadeInLeft">
              <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4 form-group">Nacionalidad de observadores</div>
                {% if nameType == "baliza"%}
                {{information.div2 | safe}}
                {% else %}
                {{information.div | safe}}
                {% endif %}
              </div>
            </div>
            {% if nameType != "baliza"%}
            <div class="col-md-5 container animate-box form-group" data-animate-effect="fadeIn">
              <div>
                  <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4 form-group">Fotos tomadas</div>
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='exploradores/' + information.punto + '.gif')}}" alt="Animado">
                  </div>
              </div>
          </div>
          {% endif %}
          {% if nameType == "baliza" %}
            <div class="row  mx-0 mt-3 mb-3">
              <div class="container animate-box" data-animate-effect="fadeIn">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Fotos tomadas</div>
                </div>
            </div>
            <div class="row  mx-0 mt-4">
              
              <div class="col-md-4 container animate-box" data-animate-effect="fadeIn">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{information.img[0]}}" alt="Foto 1">
                  <div class="card-body">
                    <h5 class="card-title">{{information.names[0]}}</h5>
                   
                  </div>
                </div> 
              </div>

              <div class="col-md-4 container animate-box" data-animate-effect="fadeIn">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{information.img[1]}}" alt="Foto 2">
                  <div class="card-body">
                    <h5 class="card-title">{{information.names[1]}}</h5>
                    
                  </div>
                </div> 
              </div>

              <div class="col-md-4 container animate-box" data-animate-effect="fadeIn">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{information.img[2]}}" alt="Foto 3">
                  <div class="card-body">
                    <h5 class="card-title">{{information.names[2]}}</h5>
                   
                  </div>
                </div> 
              </div>      

              <!--div class="col-md-4 container animate-box" data-animate-effect="fadeIn">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{ url_for('static', filename='assets/video/cambio/fotos.gif')}}" alt="Animado">
                </div> 
              </div>
              <div class="col-md-4 card container animate-box" data-animate-effect="fadeIn">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text form-group">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary" href="/Monitoring/glaciar">Volver</a>
              </div>
            </div-->
              {% endif %}
            </div>
        </div>
        </div>
          </div>
          </div>
          </div>
          </div>
      </div>
      {% if nameType == "baliza"%}
      {{information.script1 | safe}}
      {{information.script2 | safe}}
      {% else %}
      {{information.script | safe}}
      {% endif %}

    {% endblock %}
    